{% extends 'index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar medico</title>
</head>
<body>

<h2> Eliminando Medico</h2>
<form action="" method="post">

    {% csrf_token %}
    <input align="center" type="submit" class="btn bg-light-blue btn-block"  value="Eliminar">
    <input align="center" type="button" class="btn bg-light-blue btn-block" onclick="location.href='/vermedico'" value="Cancelar">

</form>

</body>
</html>
{% endblock %}