{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver cita</title>
</head>
<body>
<font face="Arial" size="5">
    <table border="1" align="center" width="1000"  cellspacing="1">
        <thead>
        <td colspan="10" bgcolor="#1e90ff"><center><h3><u>Viendo Citas</u> </h3></center></td>
            <tr>
                <td align="center" bgcolor="#1e90ff"><b>ID</b></td>
                <td align="center" bgcolor="#1e90ff"><b>Tipo Cita</b></td>
                <td align="center" bgcolor="#1e90ff"><b>Fecha</b></td>

                <td align="center" bgcolor="#1e90ff"><b>Medico</b></td>
                <td align="center" bgcolor="#1e90ff"><b>Paciente</b></td>
                {% if perms.citas.change_agendamiento%}
                <td align="center" bgcolor="#1e90ff"><b>Editar</b></td>
                {% endif %}
                {% if perms.citas.del_agendamiento%}
                 <td align="center" bgcolor="#1e90ff"><b>Eliminar</b></td>
                {% endif %}
            </tr>

        </thead>
        <tbody>
        {% for agendamiento in object_list %}
            <tr>
            <td  bgcolor="#1e90ff" align="center">{{ agendamiento.id }}</td>
            <td bgcolor="#1e90ff"  align="center">{{ agendamiento.get_tipocita_display}}</td>
            <td bgcolor="#1e90ff" align="center">{{ agendamiento.fecha }}</td>

            <td bgcolor="#1e90ff" align="center">{{ agendamiento.medico }}</td>
            <td bgcolor="#1e90ff" align="center">{{ agendamiento.paciente }}</td>
                {% if perms.citas.change_agendamiento%}
                <td bgcolor="#1e90ff"><center><input align="center" type="button" onclick="location.href='/editcita/{{ agendamiento.id}}'"value="Editar"></center></td>
                {% endif %}
                {% if perms.citas.del_agendamiento%}
                <td bgcolor="#1e90ff"><center><input align="center" type="button" onclick="location.href='/elimcita/{{ agendamiento.id}}'"value="Eliminar"></center></td>
                 {% endif %}
            </tr>
        {% endfor %}

        <td colspan="10" bgcolor="#1e90ff"><center><h5><u><input align="center" type="button" onclick="location.href='http://localhost:8000/insertarcita/#'" value="Agregar Cita" >
        </u> </h5>
        <h5><u><input align="center" type="button" onclick="location.href='/logout'" value="Cerrar Sesion" >
        </u> </h5></center></td>

        </tbody>
    </table>

</font>
</body>
</html>
{% endblock %}