{% extends 'index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver cita</title>
</head>
<body>
<font face="arial" size =4">
<FOND FACE="VERDANA">
<br>
<table width="1000" border="1" bordercolor="black"  border="5" align="center">
        <thead>
        <td colspan="8" bgcolor="#f0e68c"><center><h3><u>Viendo Citas</u> </h3></center></td>
            <tr>
                <td align="center" bgcolor="#f0e68c"><b>ID</b></td>
                <td align="center" bgcolor="#f0e68c"><b>Tipo Cita</b></td>
                <td align="center" bgcolor="#f0e68c"><b>Fecha</b></td>

                <td align="center" bgcolor="#f0e68c"><b>Medico</b></td>
                <td align="center" bgcolor="#f0e68c"><b>Paciente</b></td>
                {% if perms.citas.change_agendamiento%}
                <td align="center" bgcolor="#f0e68c"><b>Editar</b></td>
                {% endif %}
                {% if perms.citas.del_agendamiento%}
                 <td align="center" bgcolor="#f0e68c"><b>Eliminar</b></td>
                {% endif %}
            </tr>

        </thead>
        <tbody>
        {% for agendamiento in object_list %}
            <tr>
            <td  bgcolor="#1e90ff" align="center">{{ agendamiento.id }}</td>
            <td bgcolor="#1e90ff"  align="center">{{ agendamiento.get_tipocita_display}}</td>
            <td bgcolor="#1e90ff" align="center">{{ agendamiento.fecha }}</td>

            <td bgcolor="#1e90ff" align="center">{{ agendamiento.medico }}</td>
            <td bgcolor="#1e90ff" align="center">{{ agendamiento.paciente }}</td>
                {% if perms.citas.change_agendamiento%}
                <td bgcolor="#1e90ff"><center><input align="center" type="button" class="btn bg-olive btn-block" onclick="location.href='/editcita/{{ agendamiento.id}}'"value="Editar"></center></td>
                {% endif %}
                {% if perms.citas.del_agendamiento%}
                <td bgcolor="#1e90ff"><center><input align="center" type="button" class="btn bg-olive btn-block" onclick="location.href='/elimcita/{{ agendamiento.id}}'"value="Eliminar"></center></td>
                 {% endif %}
            </tr>
        {% endfor %}



        </tbody>
    </table>
</FOND>
</font>

</body>
</html>
{% endblock %}