<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver Perfil</title>
</head>
<body>
<font face="Arial" size="5">
    <table width="1000" border="1" bordercolor="black"  border="5" align="center">
        <thead>
        <td colspan="10" ><center><h3><u>Viendo Perfil</u> </h3></center></td>
            <tr>
                <td align="center" bgcolor="#f0e68c"><b>ID</b></td>
                <td align="center" bgcolor="#f0e68c"><b>Genero</b></td>
                <td align="center" bgcolor="#f0e68c"><b>Documento</b></td>
                <td align="center" bgcolor="#f0e68c"><b>Telefono</b></td>
                <td align="center" bgcolor="#f0e68c"><b>Nacimiento</b></td>
                <td align="center" bgcolor="#f0e68c"><b>Usuarios</b></td>
                {% if perms.citas.change_profile%}
                <td align="center" bgcolor="#f0e68c"><b>Editar</b></td>
                {% endif %}
                {% if perms.citas.del_profile%}
                <td align="center" bgcolor="#f0e68c"><b>Eliminar</b></td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for profile in object_list %}
            <tr>
            <td align="center">{{ profile.id }}</td>
             <td align="center">{{ profile.get_genero_display }}</td>
             <td align="center">{{ profile.documento }}</td>
             <td align="center">{{ profile.telefono }}</td>
             <td align="center">{{ profile.nacimiento }}</td>
             <td align="center">{{ profile.user }}</td>
                {% if perms.citas.change_profile%}
                <td><center><input align="center" type="button" onclick="location.href='/editprofiles/{{ profile.id}}'"value="Editar"></center></td>
                {% endif %}
                {% if perms.citas.del_profile%}
                <td><center><input align="center" type="button" onclick="location.href='/elimprofile/{{ profile.id}}'"value="Eliminar"></center></td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if perms.citas.add_profile%}
        <td colspan="8"><center><h5><u><input align="center" type="button" onclick="location.href='/insertarprofile/'"
                                                                 value="Agregar Perfiles" >

        </u> </h5></center></td>
        {% endif %}
        </tbody>
    </table>

</font>
</body>
</html>